@model IEnumerable<Muusikapood.Models.Muusikapoed>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.instrument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kvaliteet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kirjeldus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.instrument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kvaliteet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kirjeldus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
